* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centrar-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2 {
    font-family: 'Prata', serif;
    font-weight: lighter;
    font-size: 2rem;
}

h3 {
    font-family: 'Prata', serif;
    font-weight: lighter;
    font-size: 1rem;
}

.centrar-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: gray;
}

#parrafo-principal {
    font-size: 1.1rem;
}

header {
    width: 100%;
}

#header-pantalla-grande {
    display: none;
}

#header-pantalla-pequeña-mediana {
    display: flex;
    justify-content: space-between;
}

#titulo-header {
    padding: 2rem 1rem;
}

summary {
    list-style: none;
    padding: 2rem 1rem;
} 

#lista {
    list-style: none;
}

.enlace:link, .enlace:visited {
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
}

.enlace:active {
    opacity: 0.6;
}

#titulo-principal {
    font-size: 2rem;
    padding: 1rem 0;
}

#seccion-principal {
    padding: 1rem 0;
}


#logos {
    display: none;
}

#logos-pantalla-pequeña {
    display: flex;
    flex-direction: row;
}

.contenedor-logos {
    display: flex;
    align-items: center;
    width: 90%;
}

.logo {
    width: 60%;
    padding: 0.5rem 0;
}

.contenedor {
    width: 90%;
}

.contenido {
    padding: 1.5rem 0;
    width: 100%;
}

.imagen {
    width: 100%;
}

.subtitulo-enlace:link, .subtitulo-enlace:visited {
    text-decoration: none;
    color: white;
}

.subtitulo-enlace:hover, .subtitulo-enlace:active {
    color: white;
    opacity: 50%;
}

.descripcion {
    font-weight: bold;
}

#contenedor-seccion {
    background-color: rgba(46,48,56,255);
}

article {
    width: 90%;
}

#titulo-articulo {
    padding-top: 3.5rem;
}

.parrafo {
    color: #a5a5a6;
    padding: 0.5rem 0;
}

.seccion-parrafos {
    padding-bottom: 3rem;
}

#padding-seccion {
    padding: 5rem 0;
}

#button-seccion {
    background-color: rgba(251,232,80,255);
    border: none;
    border-radius: 0%;
    padding: 1rem 2rem;
    margin-top: 1rem;
    font-family: 'Prata', serif;
    font-size: 1rem;
    font-weight: normal;
    
}

footer {
    width: 100%;
    background-color: rgba(46,48,56,255);
}

#padding-footer {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

#logos-social {
    display: flex;
}

.logo-social {
    padding-right: 1rem;
}

@media screen and (min-width: 500px) {
    #titulo-header {
        padding: 2rem 2.5rem;
    }
    
    summary {
        list-style: none;
        padding: 2rem 2.5rem;
    }

    .contenedor-logos {
        display: flex;
        flex-direction: row;
    }

   #logos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 20%;
        margin: 0 2rem;
    }

    #titulo-principal {
        font-size: 3.75rem;
    }
    
    #parrafo-principal {
        font-size: 1.23rem;
        align-self: flex-start;
        width: 97%;
    }

    #logos-pantalla-pequeña {
        display: none;
    }

    .subtitulo {
        font-size: 2.5rem;
    }

    p {
        font-size: 1.23rem;
    }

    .parrafo {
        padding: 0.5rem 0;
    }
    
    .seccion-parrafos {
        padding-bottom: 3rem;
        align-items: flex-start;
    }

    #parrafo-seccion {
        font-size: 1.25rem;
        width: 80%;
    }

}    

@media screen and (min-width: 900px) {
    #header-pantalla-pequeña-mediana {
        display: none;
    }

    #header-pantalla-grande {
        height: 10rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    #lista-header {
        display: flex;
        list-style: none;
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
    }
    
    .inciso {
        padding: 0 1rem;
        text-decoration: none;
    }

    .inciso:link, .inciso:visited {
        color: #a5a5a6;
        font-weight: bold;
    }

    .inciso:hover, .inciso:active {
        opacity: 0.6;
    }

    #button-header {
        background-color: rgba(251,232,80,255);
        border: none;
        border-radius: 0%;
        padding: 1rem 2rem;
        font-family: 'Prata', serif;
        font-size: 1rem;
        font-weight: normal;        
    }

    #seccion-principal {
        align-self: flex-start;
        padding-left: 5rem;
        width: 50%;
    }

    #parrafo-principal {
        width: 85%;
    }

    #logos-pantalla-pequeña {
        display: none;
    }

    .contenedor-logos {
        display: flex;
        flex-direction: row;
    }

    #titulo-articulo {
        padding: 0;
        width: 90%;
        font-size: 3.2rem;
    }

    .seccion-parrafos {
        justify-content: flex-start;
    }

   #logos {
    width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .contenedor-logos {
        justify-content: space-around;
    }

    .logo {
        width: 20%;
        margin: 0rem;
    }

    .contenedor {
        display: flex;
        justify-content: space-around;
    }

    .contenido {
        width: 40%;
    }

    #contenedor-parrafos {
        display: flex;
        justify-content: space-around;
        padding-top: 3rem;
    }

    article {
        padding: 2rem;
    }

    .parrafo {
        width: 90%;
    }

    #padding-seccion {
        flex-direction: column;
    }

    #parrafo-seccion {
        width: 50%;
    }
}
